[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
flask-cors = "*"
fqdn = "*"
huggingface-hub = "*"
isoduration = "*"
jsonpointer = "*"
llama-cpp-python = "*"
openai = "*"
pandas = "*"
pydantic-settings = "*"
pymysql = "*"
sse-starlette = "*"
starlette-context = "*"
uri-template = "*"
webcolors = "*"
inquirerpy = "*"
google-play-scraper = "*"
app-store-scraper = "*"
six = "*"
transformers = "*"
scipy = "*"
seaborn = "*"
matplotlib = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
