body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.2px;
  background: linear-gradient(40deg,
      rgb(166, 2, 247) 0%,
      rgba(72, 7, 253, 0) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

.app {
  padding: 4rem;
}
.dashboard {
  display: flex;
  justify-content: center;
}